
<div class="w3-padding-8 w3-light-grey w3-small w3-center">
        <p>Contact Information:</p>
        <p><i class="fa fa-fw fa-phone"></i> (937)-756-2433</p>
        <p><i class="fa fa-fw fa-envelope"></i> GearBoxSupport@gmail.com</p>
        <p>We accept</p>
        <p><i class="fa fa-fw fa-cc-amex"></i> American Express</p>
        <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
        <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
        <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
        <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
        <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
        <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
  </div>

  <footer class="w3-black w3-center w3-text-grey w3-small w3-padding-16">
    <p>GearBox® LLC, 1600 Amphitheatre Parkway, Mountain View, CA. Est. 2022</p>
  </footer>