
<!DOCTYPE html>
<html>
<head>
<title>GearBox Contact Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
.subtotal{
    background-color:aliceblue;
    height: 300px;
    width: 250px;
    float: right;
   /* display: inline-block;*/
    border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  /*text-align: center;*/
}

.subtotal button{
    height: 29%;
    width: 100%;
}
.container{
    width:  50%;
    height:  100%;
    display: flex;
}
.items{
    
display: inline-block;

  padding: 1rem 1rem;
 
}
.itemButtons{
    margin: 10px;
    display: inline-block;
    
}

</style>
</head>
<body class="w3-content" style="max-width:1200px">



<!-- Sidebar/menu -->

{% include 'includes/sidebar.html' %}

<!-- Small Screen Formatting -->
<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">GearBox</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">
<!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:83px"></div>
<!-- End Small Screen Formatting -->



  <!-- Top header -->
{% include 'includes/topbar.html' %}
<!-- End Basic Page Setup -->



<div class="w3-padding-64 w3-light-grey w3-xlarge w3-center w3-border">
    
    <div styles="display: flex;" class="w3-row-padding">
        <p id="quan" style="margin-right: 22%; font-size: 12px; ">Quantity</p>
        <div id="container">
        
            <p  class="itemButtons" id="itemRemoved">Silver GearBox®</p>
            <button id="obj2" class="itemButtons"  onclick="sub()">-</button>
            <p  class="itemButtons" id="countNum">1</p>
            <button id="obj4" class="itemButtons" onclick="add()">+</button>
            <button id="obj5" class="itemButtons" onclick="remove()">Remove</button>
      
        
        
        <div class="subtotal">
            <p>Your total:</p>
            <p class="items" id="subtotalCount">$19.99</p>
            <a href="Checkout.html"><button style="float:bottom" id="POC">Proceed to checkout</button></a>
        
        </div> 
    </div>
</div>



{% include 'includes/footer.html' %}

<script>
    // Open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    } 
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
    let count = 1;
    subtotalCount = '$' + 19.99 * count;
    document.getElementById("countNum").innerHTML = count;
    function add(){
        count = count + 1;
        subtotalCount = '$' + 19.99 * count;
        document.getElementById("countNum").innerHTML = count;
        document.getElementById("subtotalCount").innerHTML = subtotalCount;
    }
    function sub(){
        if (count > 0){
        count = count - 1;
        subtotalCount = '$' + 19.99 * count;
        document.getElementById("countNum").innerHTML = count;
        document.getElementById("subtotalCount").innerHTML = subtotalCount;
        }
 
    }
    function remove(){
        count = 0;
        let iRTxt = "Cart Empty";
        subtotalCount = '$' + 0.00;
        document.getElementById("countNum").innerHTML = count;
        document.getElementById("itemRemoved").innerHTML = iRTxt;
        document.getElementById("subtotalCount").innerHTML = subtotalCount;

        var x = document.getElementById("countNum");
        x.style.display = "none";
        
        var x = document.getElementById("obj4");
        x.style.display = "none";
        var x = document.getElementById("obj5");
        x.style.display = "none";
        var x = document.getElementById("obj2");
        x.style.display = "none";
        var x = document.getElementById("POC");
        x.style.display = "none";
        var x = document.getElementById("quan");
        x.style.display = "none";
    }
</script>
</body>
</html>
