<!DOCTYPE html>
<html>



{% include "includes/header.html" %}






<body class="w3-content" style="max-width:1200px">



<!-- Sidebar/menu -->
{% include "includes/sidebar.html" %}






<!-- Small Screen Formatting -->
<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">GearBox</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">
<!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:83px"></div>
<!-- End Small Screen Formatting -->

{% include 'includes/topbar.html' %}

  

  <!-- Image header -->
  <div class="w3-display-container w3-container w3-center w3-border">
    <img src="static\Assets\3chests.jpg" alt="Image of 3 GearBoxes" style="width:20%">
    <p><b>We are GearBox, and we are the premium source of gear and gifts for nature lovers everywhere, 
      delivered monthly directly to your door. Click below to receive one of our three tiers of GearBoxes! </p></b>
  </div>
  <div class="w3-display-container w3-container w3-center w3-border w3-black w3-text-white w3-xlarge w3-padding-16">
    <a href="products" class="w3-bar-item w3-button"><b>Silver GearBox</b></a>
    <a href="products" class="w3-bar-item w3-button"><b>Gold GearBox</b></a>
    <a href="products" class="w3-bar-item w3-button"><b>Diamond GearBox</b></a>
    <div class="w3-large">
      <p>Silver is our most affordable GearBox</p>               
      <p>With Gold, you'll receive even more items</p>               
      <p>Diamond, our most popular GearBox, includes a major item in every box!</p>
  </div>
  </div>

  {% include 'includes/footer.html' %}
  <!-- End page content -->


<script>
// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
} 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

</script>

</body>
</html>