
{% include "includes/header.html" %}

  <!-- MAIN -->
  <main>
    <!-- HERO -->
    <div class="nero">
      <div class="nero__heading">
        <span class="nero__bold">Checkout</span>
      </div>
      <p class="nero__text">
      </p>
    </div>
  </main>



<div id="content" ><!-- content Starts -->
<div class="container" ><!-- container Starts -->



<div class="col-md-12" ><!-- col-md-12 Starts -->
<div class="box" >

</div><!-- box Ends -->

{% include "customer/customer_login.html" %}
</div><!-- col-md-12 Ends -->


</div><!-- container Ends -->
</div><!-- content Ends -->

{% include "includes/footer.html" %}

<script src="js/jquery.min.js"> </script>

<script src="js/bootstrap.min.js"></script>

</body>
</html>
