<!DOCTYPE html>
<html>



{% include "includes/header.html" %}






<body class="w3-content" style="max-width:1200px">



<!-- Sidebar/menu -->
{% include "includes/sidebar.html" %}






<!-- Small Screen Formatting -->
<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">GearBox</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>





<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">
<!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:83px"></div>
<!-- End Small Screen Formatting -->





  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-center">
      <h1>Login</h1>
    </p>
  </header>



  
  <!-- Image header -->
  <div class="w3-display-container w3-container w3-center w3-border">
    <img src="static\Assets\3chests.jpg" alt="Image of 3 GearBoxes" style="width:20%">
    
<div class="container">
  <form method="POST" action="">
    <div class="row">
      <h2 style="text-align:center">Login with Social Media or Manually</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a href="#" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
      </div>
      
    </div>
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="signup" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>
  {% include 'includes/footer.html' %}
  <!-- End page content -->


<script>
// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
} 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

</script>



<script type="text/javascript">

const newGuy = async() => 
{
    const name = document.getElementById('uName').value;
    const id = document.getElementById('uId').value;

    webAddress = 'http://localhost:5000/newUser?status=login' + '&username=' + name + '&password=' + id;
    const response = await fetch(webAddress);
    const js = await response.json();
    const success = js.status;
    const cus = js.message;
    alert(sucess);
    alert(cus);
    
    // window.location.href = 'http://localhost:5000/?username=' + cus;
}
</script>
</body>
</html>